<div class="form-container m-5 w-50" [formGroup]="inputForm">
  <app-label [label]="'Name'"></app-label>
  <app-input-form [type]="'text'"  formControlName="inputOne"></app-input-form>
  <app-label [label]="'Location'"></app-label>
  <app-input-form [type]="'text'" formControlName="inputTwo"></app-input-form>
  <app-label [label]="'Age'"></app-label>
  <app-input-form [type]="'number'" formControlName="inputThree"></app-input-form>
  <app-label [label]="'Comments'"></app-label>
  <app-text-area formControlName="comments"></app-text-area>
</div>
<pre>
  {{inputForm.value | json}}
</pre>
